<!DOCTYPE html>
<html>
<body>
    <div class="home">
    <div class="home1">
      <div class="overlay-text">
        NEW SINGLE ON
        <br>
        ITUNES
        <br>
        "DAYS LIKE THIS"
        <br>
        <%= active_link_to "click here", '#' %>
      </div>
      <%= image_tag("NK.jpg", size:"230x280", :class => "image-NK") %>
      <%= image_tag("NK2.jpg", size:"330x280", :class => "image-NK2") %>
      <div class="home2">
      <%= image_tag("NK4.jpg", size:"330x280", :class => "image-NK4") %>
      <div class="overlay-music">
	<iframe width="200" 
		height="270" 
		scrolling="no" 
		frameborder="no" 
		src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/109432178&amp;
		auto_play=false&amp;
		hide_related=false&amp;
		show_comments=true&amp;
		show_user=true&amp;
		show_reposts=false&amp;
		visual=true">
		text
	</iframe>
      </div>
      <%= image_tag("NK.jpg", size:"230x280", :class => "image-NK") %>
    </div>
    </div>
</body>
</html>
