<!DOCTYPE html>
<html>
<div class="nav">
	<%= link_to image_tag("TITLE.png", size: "500x100"), root_path %>
	<br>
	<%= link_to image_tag("HOME1.png", size: "80x50"), root_path %>
	<%= link_to image_tag("ABOUT1.png", size: "80x50"), about_path %>
	<%= link_to image_tag("MUSIC1.png", size: "80x50"), music_path %>
	<%= link_to image_tag("VIDEO1.png", size: "80x50"), video_path %>
	<%= link_to image_tag("CONTACT1.png", size: "110x50"), contact_path %>
</div>
<div class="ext-links">
    <div class="square-logo">
    <br>
    <%= link_to image_tag("Facebook.png", size: "40x40"), "https://www.facebook.com/pages/The-Highfields/614581685257125" %>
    </div>
    <div class="square-logo">
    <br>
    <%= link_to image_tag("TWIT.png", size: "40x40"), "#" %>
    </div>
    <div class="square-logo">
    <br>
    <%= link_to image_tag("ITUNES.png", size: "40x40"), "#" %>
    </div>
    <div class="square-logo">
    <br>
    <%= link_to image_tag("YOUTUBE.png", size: "40x40"), "#" %>
    </div>
    <div class="ctmm-logo">
    <%= link_to image_tag("catch_the_moon_music_logo.png", size: "60x60"), "http://catchthemoonmusic.com/artists/the-highfields/" %>
    </div>
</div>
</html>
